

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Source+Code+Pro&display=swap');

.titulo{
  font-family: 'Poppins', sans-serif;
  font-family: 'Source Code Pro', monospace;
  font-size: 46px;
  text-align: center;
  color: #c791eb;
}

.imagem_esquerda{
  text-align: left;
}

.imagem_direita{
  text-align: right;
}

.texto_direita{
  text-align: right;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #fff;
}

.texto_esquerda{
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #fff;
}


.bloco {
  display: flex;
}

.texto{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #fff;
}

#imagem_redonda {
  height: 400px;
  height: 400px;
  border-radius: 50%;
 
}

body {
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 10px;
  background-color: rgb(30, 26, 46);
}

#centralizar{
  text-align: center;
}

#imagem{
  height: 600px;
  height: 600px;
}

#menu-h{
  list-style-type: none;
  padding: 8px;
  background-color: #8e49fd;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
  position: 0;
}

#menu-h li{
  display: inline-block;
  margin: 0;
}

#menu-h li a{
  color: #fff;
  padding: 30px;
  display: inline;
  text-decoration: none;
}

.links{
  text-decoration: none;
  color: #d3b7ff;
}


.circle-icons {
  padding: 10px; /* espaçamento */
  font-size: 22px; /* tamanho do icone */
  width: 18px; /* tamanho do fundo */
  text-align: center;
  text-decoration: none;
  margin: 10px; /* espaçamento entre eles */
  border-radius: 50%;  
  background: rgb(126, 81, 250); /* cor do fundo */
  color: #fff; /*cor do icone */
}


.circle-icons:hover {
    background: #c516fa; /*  cor de fundo com mouse encima */
    color: #000000;  /* cor do icone com mouse encima */
    opacity: 0.7;
}
